services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  etl:
    image: python:3.10
    volumes:
      - .:/app
    working_dir: /app
    command: >
      bash -c "
      pip install --no-cache-dir -r requirements.txt &&
      python etl/run_etl.py
      "
    depends_on:
      - postgres

